@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 80vw;
    font-family: 'poppins', sans-serif;
}

.navbar{
    display: flex;
    height: 67px;

}
.navbar li{
    list-style: none;
    margin: 0 12px;
}

.topleft{
    width: 50%;
}
.topright{ 
    width: 50%;
}

.section1{
   max-height: 100vh; 
   color:black;
}

.section1 h1{
    color: #37110d;
    font-size: 2rem;
}

.logo{
    font-size: 1.3rem;
}
.dumbellimg{
    width: 289px;
}
.dumbellimg h1 my-1 text-center{
   color: red; 
}
.my-1{
    color: aqua;
    text-decoration-color: blue;
}

.topright .gymimg{
    background-image: -moz-linear-gradient(0,0,0);
    width: 466px;
}
.back{
    opacity: 0.09;
}

.section2{
    padding: 73px;
}

.section2 h1{
    font-size: 2.3rem;
    color: rgb(27, 214, 27);
}

.section2 p{
    padding: 0 8vw;
    text-align: center;
    color: black;
}

.box{
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(120, 54, 16);
    border-radius: 8px;
    text-align: center;
}

.box h2{
    font-size: 2rem;
    padding: 15px 0;
    color: red;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul{
    list-style-type: none;
    color:rgb(4, 245, 40);
}

.box ul li{
   margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid rgb(253, 60, 7);
    padding: 15px 0;
    color: rgb(78, 9, 78);
} 

.section3 table td{   
    border-bottom: 2px solid rgb(239, 90, 41); 
} 
 

.section3 h1{
    font-size: 2.3rem;
    color: crimson;
}

.section3{
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;
    font-weight: bolder;
    color: darkgreen;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
    color: rgba(232, 22, 22, 0.888);
}